@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
}

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    
    background:linear-gradient(45deg, #11A49B, #90FC8E);
}

html {
    font-size: 62.5%;
}

body {
    background: #EBF5FF;
}

main {
    width: 80%;
    max-width: 1000px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

/* Menu */
.loading {
    color: white !important;
}

aside {
    width: 100%;
    height: auto;
}
aside ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    grid-gap: 5px 5px;
}
aside ul li {
    padding: 10px 0;
    text-transform: capitalize;
    text-align: center;
    background: white;
    transition: background 0.3s ease;
    cursor: pointer;
    font-size: 1.6rem;
    font-size: 1.4rem;
}

aside ul li:hover  {
    background: #eeeeee;
}

aside ul li.selected {
    background: #59A7F2;
    color: white;
}

hr {
    width: 100%;
    display: block;
    height: 1px;
    background-color: #eeeeee;
}

/* Section */
section {
    position: relative;
    padding: 50px 20px 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Search */
form {
    position: absolute;
    right: 20px;
    display: none;
}

form input {
    background-color: #F1F5FA;
    padding: 8px 0px 8px 10px;
    border-radius: 5px;
    width: 150px;
}

form button {
    padding: 0px 5px;
    cursor: pointer;
    background-color: #59A7F2;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Content */
h1 {
    font-size: 2rem;
    color: #59A7F2;
    font-size: 3rem;

    font-size: 2.3rem;
}

h2 {
    margin-top: 30px;
    font-size: 2rem;
}

p.section {
    margin-top: 10px;
    color: #909090;
    text-transform: capitalize;
    font-size: 1.6rem;
}

p.joke {
    line-height: 150%;
    margin: 30px 0px;
    font-size: 1.8rem;

    font-weight: 400;
    font-size: 1.6rem;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;

    font-size: 3rem;
}

footer > * {
    cursor: pointer;
}

footer a {
    color: #1DA1F2;
}
footer a:hover {
    color: #171717;
}

footer > svg {
    color: #70BF42;
    transition: transform 0.2s ease;
}

footer > svg:hover {
    color: black;
    transform: scale(1.10) rotate(300deg);
}

/* media queries */
@media (min-width: 768px) {
    main {
        display: flex;
        height: 500px;
        overflow: hidden;
        width: 900px;
    }

    hr {
        display: none;
    }

    aside {
        overflow-y: scroll;
        width: 300px;
        height: 100%;
    }

    aside ul {
        padding: 10px 0px;
        grid-template-columns: 1fr;
    }

    section {
        position: relative;
        padding: 50px 40px 20px;
        width: 600px;
        height: 100%;
    }

    form {
        display: flex;
    }
    p.joke {
        height: 200px;
    }
}